<div class="container-fluid">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value) " novalidate>
        <div class=" form-group ">
            <label for=" ">MyName</label>
            <input [(ngModel)]="newQuote!.name " name="firstName " minlength="5 " required #fistName="ngModel" id="firstName " type="text " class="form-control ">
            <div *ngIf="!fistName.pristine && !fistName.valid " class=" alert alert-danger ">
                <div *ngIf="fistName.errors!.required==true ">First name required</div>
                <div *ngIf="fistName.errors!.minlength ">First name minlength not achived </div>
                <!-- <div *ngIf="fistName.errors!.pattern ">First name wrong pattern </div> -->

            </div>
        </div>
        <div class="form-group ">
            <label for=" ">Authors Name</label>
            <input [(ngModel)]="newQuote!.author " name="secondName " minlength="5 " required #secondName="ngModel" id="secondName " type="text " class="form-control ">
            <div *ngIf="!secondName.pristine && !secondName.valid " class=" alert alert-danger ">
                <div *ngIf="secondName.errors!.required==true ">Authors name required</div>
                <div *ngIf="secondName.errors!.minlength ">Name minlength not achived </div>

            </div>
        </div>
        <div class="form-group ">
            <label for=" ">Quote</label>
            <textarea rows="5 " [(ngModel)]="newQuote!.textQuote " name="QuoteText " minlength="10 " required #QuoteText="ngModel" id="QuoteText " type="text " class="form-control " cols="30 "></textarea>
            <div *ngIf="!QuoteText.pristine && !QuoteText.valid " class=" alert alert-danger ">
                <div *ngIf="QuoteText.errors!.required==true ">Quote required</div>
                <div *ngIf="QuoteText.errors!.minlength ">Quote minlength not achived </div>

            </div>
        </div>


        <button class="btn btn-dark w-100 " type="submit ">Submit</button>
    </form>
</div>