<h5 class="card-title ">
    {{quote.date|dateCount}}
</h5>

<div class="card-subtitle mb-2 text-muted ">
    <h4 appHightlightBest class="text-center "> {{" Author "+quote.author}}</h4>
    <button href="# " class="bg-success w-100 mb-2" (click)="addLinks(true)">{{"likes :"+quote.initialVote}}</button>
    <button href="# " class="bg-dark w-100 mb-2" (click)="addLinks(false)">{{"Dislike :"+quote.downVote}}</button>
    <button href="# " class="bg-danger p-2 w-100" (click)="delete(true) ">Delete</button>
    <h5 class="card-subtitle mb-2 text-muted text-center ">posted by {{quote.name}}</h5>
</div>